
/*
** HTML elements
*/
@import url("icons.css");

body {
	margin: 0;
	padding: 0;
	color: #000;
	background-color: #fff;
	font: 76% "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	width: 99%;
	

}
tr.odd td, tr.even td {
  padding: 0.3em;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
}
h1 {
	font-size: 1.7em;
	background-image: url("images/nodebg.gif");
	background-repeat: repeat-x;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom: thin solid black;

}
h2 {
	font-size: 1.2em;
	background-image: url("images/h2.gif");
	background-repeat: repeat-x;
	color: black;
	background-position: top;
	font-family: Verdana;
	text-decoration: none;
	border-bottom: thin solid black;
	padding-top: 6px;
	padding-bottom: 6px;

}
h3 {
	font-size: 1.2em;
	color: Green;
	font-weight: bold;
	border-bottom: thin solid black;
	padding-bottom: 6px;


}
h4 {
  font-size: 1.1em;
}
h5, h6 {
  font-size: 1.0em;
}
p {
  margin-top: 0.5em;
  margin-bottom: 0.9em;
}
a {
  text-decoration: none;
  font-weight: bold;
}
a:link {
  color: #39c;
}
a:visited {
  color: #369;
}
a:hover {
  color: #39c;
  text-decoration: underline;
}
fieldset {
  border: 1px solid #ccc;
}
pre {
  background-color: #eee;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ddd;
}
table {
  /* make <td> sizes relative to body size! */
  font-size: 1em;
}
.form-item label {
  font-size: 1em;
  color: #222;
}
.item-list .title {
  font-size: 1em;
  color: #222;
}
.links {
  margin-bottom: 0em;
}
.comment .links {
  margin-bottom: 0em;
}

/*
** Page layout blocks / IDs
*/
#header{
  width: 100%;
}
#content{
  width: 100%;
}

#header {
	background-color: transparent;
	background: url(images/headerbg.gif) repeat-x;
}
#logo {
  vertical-align: top;
  border: 0;
}
#logo img {
  float: left;
  padding: 0em 1.0em 0em 1em;
  border: 0;
  height:70px;
  width:230px;
}
#menu {
  padding: 0 0.5em 0 0.5em;
  text-align: left;
    vertical-align: bottom;
}

#selected {
	font-size: 1.1 em;
	padding: 0em 0.8em 0.5em 0;
	color: Red;
	background: url(selected.gif);
}

#primary {
	float: left;
	width: 100%;
	font-size: 100%;
	line-height: normal;

}
#primary a:hover { color: #666633; 
	background-color: #dedede;
	border-bottom: 3px solid black;
}

#primary ul {
    margin: 0;
    padding: 5px 5px 0; 
    list-style: none;

}

#primary a, #primary strong, #primary span {

	padding: 5px 12px 3px 3px;
	font-weight: bold;
	text-decoration: none;
	color: black;
	display: block;
}

#primary li {
	float: left;
	padding: 0 0 0 9px;
	margin: 0;
	list-style-type: none;
}

#primary #current {
	border-bottom: 3px solid black;
	background-color: #dedede;

} 

#primary #current a {
  font-weight: bold;
  padding-bottom: 2px;  
  border-bottom: none;
 
}

#secondary {
	padding: 0 1em 0.5em 0;
	font-size: 1.0em;
	color: #eee;

}
#secondary a:hover { color: #666633; 
	background-color: #dedede;
	border-bottom: 3px solid black;
}

#secondary a {	padding: 5px 12px 3px 3px;
	font-weight: bold;
	text-decoration: none;
	color: white;
}


#mission {
	padding: 8px;
	color: #000;
	border: thin solid #A9A9A9;
	background-image: url("images/forum.gif") repeat-x;
	font-size: 1em;

}
#mission a, #mission a:visited {
	color: Black;
	font-weight: bold;
	font-size: 1.3 em;
	text-decoration: underline;
}
.site-name {
  margin: 0.6em 0em 0em 0em;
  padding: 0em;
  font-size: 3.2em;
}
.site-name a:link, .site-name a:visited {
  color: #fff;
}
.site-name a:hover {
  color: #369;
  text-decoration: none;
}
.title, .title a {
	color: #000;
		font-size: 1.2em;
	padding-top: 6px;
	padding-bottom: 6px;
		background-image: url("images/nodebg.gif");
	background-repeat: repeat-x;
}
.title2, .title2 a {
	margin: 0 auto 0 auto; /* decrease default margins for h<x>.title */
	font-size: 1.2em;
	color: #blue;
padding: 6px;
background-image: url("images/nodebg.gif") repeat-x;
}

.site-slogan  {
  font-size: 1.2em;
  color: #eee;
  display: block;
  margin: 0em 0em 0em 0em;
  font-weight: bold;
}
#main {
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 10px;
		background-repeat: repeat-x;

}
#mission, .node .content, .comment .content {
  line-height: 1.4;
}
#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}
.breadcrumb {
  margin-bottom: .5em;



}
.messages {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.3em;
  margin-bottom: 1em;
}
.error {
  border-color: red;
}
#sidebar-left {
	background-color: #efefef;
	width: 14em; /* padding in px not ex because IE messes up 100% width tables otherwise */
	padding: 5px;
	vertical-align: top;
}

 #sidebar-right {
	background-color: transparent;
	width: 14em; /* padding in px not ex because IE messes up 100% width tables otherwise */
	vertical-align: top;
	padding: 4px;
}
#footer {
	border-top: thin solid gray;
	background-color: #efefef;
	font-size: 0.85em;
	color: Green;
	text-indent: 2px;
	text-transform: none;
	font: normal bold;
	text-align: center;
}

/*
** Common declarations for child classes of node, comment, block, box, etc.
** If you want any of them styled differently for a specific parent, add
** additional rules /with only the differing properties!/ to .parent .class.
** See .comment .title for an example.
*/

.submitted {
	color: Black;
	font-size: 0.85em;
	
}
.links {
	color: Green;
}
.links a {
	font-weight: bold;
	color: Lime;
}
.block, .box {
	padding: 0 0 1.5em 0;
	
}
.block {
	padding-bottom: 0.75em;
	margin-bottom: 1.5em;
	color: #235F6B;
}
.links2 {
	padding-bottom: 0.5em;
	background: #f6f6f6 url("images/links.gif") repeat-x 0% 0%;
	color: #235F6B;
	padding-top: 1em;
	font-variant: normal;font-size: 1.05em;
	margin-top: 1em;

}
.block .title {
  margin-bottom: .25em;
}
.box .title {
  font-size: 1.1em;
}
.node {
	margin: .5em 0 2em 0;
	border: solid 1px #333;

}
.sticky {
	padding: .5em;
	background-color: #eee;
	border: solid 1px #ddd;
	
}
.node .content, .comment .content {
  margin: .5em 0 .5em 1em;

}
.node .taxonomy {
	color: #999;
	font-size: 0.85em;
	padding: 1.5em;
	margin-bottom:1em;

}


.node .picture {
  border: 1px solid #ddd;
  float: right;
  margin: 0.5em;
}
.comment {
  border: 1px solid #abc;
  padding: .5em;
  margin-bottom: 1em;
}
.comment .title a {
  font-size: 1.1em;
  font-weight: normal;
}
.comment .new {
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
  float: right;
  color: red;
}
.comment .picture {
  border: 1px solid #abc;
  float: right;
  margin: 0.5em;
}

/*
** Module specific styles
*/
#aggregator .feed-source {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0 1em 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  color: #999;
  font-style: italic;
  font-size: 0.9em;
}
#aggregator .title {
  margin-bottom: 0.5em;
  font-size: 1em;
}
#aggregator h3 {
  margin-top: 1em;
}
#forum table {
  width: 100%;
  border:1px solid #111;
 font-size: 1.0`em;
}
#forum td {
  padding: 0.5em 0.5em 0.5em 0.5em;
  border:1px solid #bbb;

}
#forum td.forum {
  background-color: #eee;
  background: url("images/forum_c.gif") no-repeat left;
   	padding-left: 31px;
}
#forum td.posts {
  background-color: #eee;

}
#forum td.topics, #forum td.last-reply {
  background-color: #eee;
  background: #efefef url("images/forum.gif") repeat-x 0% 0%;

}
#forum td.container {
  background-color: #ccc;
  background:#efefef url("images/forum_cont.gif") repeat-x left;
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom: thin solid black;
  	padding-left: 31px;
}
#forum td.container a {
  color: #555;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
  border: 1px solid #bbb;
}
#forum td .name {
  color: #96c;
}
#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
}

#profile .profile {
  clear: both;
  border: 1px solid #abc;
  padding: .5em;
  margin: 1em 0em 1em 0em;
}
#profile .profile .name {
  padding-bottom: 0.5em;
}
.block-forum h3 {
  margin-bottom: .5em;
}
.calendar a {
  text-decoration: none;
}
.calendar td, .calendar th {
  padding: 0.4em 0;
  border-color: #888;
}
.calendar .day-today {
  background-color: #69c;
}
.calendar .day-today a {
  color: #fff;
}
.calendar .day-selected {
  background-color: #369;
  color: #fff;
}
.calendar .header-week {
  background-color: #ccc;
}
.calendar .day-blank {
  background-color: #ccc;
}
.calendar .row-week td a:hover {
  background-color: #fff; color: #000;
}


.rightblock 
{color:#333;	
padding-bottom: 7px; 
padding-left: 5px;
border-top: 1px solid #d7d7d7;
border-bottom: 1px solid #c7c7c7;
margin: 0 0 1.5em;
background:  url("images/rightblock_bg.gif") repeat-y 0% 100%}

.leftblock 
{color:#333;padding: 5px 7px 7px;border-top: 1px solid #d7d7d7;margin: 0 0 1.5em;background: #f6f6f6 url("images/leftblock_bg.gif") no-repeat 50% 50%}

.forum-comment {
  float: left;
  width: 95%;
  border: 1px solid #000;
  margin-bottom: 0.5em;
}


